html{min-height: 100%;}
body{background-color:#1C2833;color :white;margin: 0; font-size:18px;position: relative; padding-bottom: 160px}
footer{background-color: #D35400;padding-top: 30px; padding-bottom: 30px;bottom: 0;position: absolute; width: 100%;text-align: center; font-style: italic;}
.navbar {background-color: #1F618D;}
.posts{display : block; width: 30%; margin: 5%;margin-top: 50px; margin-bottom: 60px;display: inline-block;}
.p-title{font-weight: 700; font-size: 20px; margin-bottom: 20px;}
.p-content{text-overflow: ellipsis; overflow : hidden; height: 25px; width: 100%; display: block;}
form {width: 80%; display: block; margin: auto;}
input, textarea{margin-bottom: 20px;}
textarea{resize: none; height: 250px;}
.i-sub{border: none; display: block;background-color:#1F618D; color: white; cursor: pointer; padding: 5px; padding-right: 15px;padding-left: 15px;margin-top: 10px;}
.i-title, .i-content{ width: 40%}
.title{ color: #1F618D; font-size: 30px; font-weight: bold; margin: 30px; }
.v-posts{width: 80%; margin: auto; margin-top: 60px; margin-bottom: 15px;}
.v-title{font-weight: 600; font-size: 40px; margin-bottom:30px;}
.v-content, .v-username, .v-category{margin-bottom: 20px;}
.c-content{width: 80%;display: block; background-color: #1F618D; color: white;border: solid #1F618D 1px;}
.comments{width: 80%; display: block; margin: auto; }
.comment{padding-bottom: 30px; padding-top: 30px; border: solid #1F618D 1px; padding-left: 20px;width: 80%;}
.p-username{font-style: italic;margin-top: 10px;}
.i-form{margin-top: 20px; width:90%; }
.p-pagination{margin: auto; width: fit-content;}
.sub-del{background-color: #A93226}
.sub-del a {width: min-content}